header {
    position: sticky;
    top: 0;
    z-index: 50;
    border-bottom: 1px solid var(--border-color);
}

.nav-container {
    max-width: 100%;
    margin: 0 auto;
    height: 64px;
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    padding: 0 30px;
}

.nav-links {
    display: flex;
    gap: 24px;
    margin-left: auto;
}

.nav-link {
    font-size: 14px;
    font-weight: 500;
    transition: color var(--transition-speed);
    text-decoration: none;
}

.nav-link:hover {
    color: var(--primary);
}



